@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
:root{
    --high-color: #fffeff;
    --medium-color: #e1e7ef;
    --low-color: #636262;
    --accent-color: rgba(0, 0, 0, 0.92);
}
html{
    font-size:10px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display:grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

.header{
    grid-area:header;
    background-color:var(--high-color);
    padding: 24px;
}

.header-upper{
    width: 100%;
    display:flex;
    font-size: 2.4rem;
}

.user-box{
    margin: 0 36px 0 auto;

    display:flex;
    gap:32px;
}

.search-box{
    margin-left: 24px;
    width:70%;
    display:flex;
    gap: 32px;
}

.search-box input{
    flex:1;
    background-color: var(--medium-color);
    border-radius: 15px;
    padding-left: 24px;
    font-size: 1.6rem;
}

.header-lower{
    margin-top: 24px;

    display:grid;
    grid-template-columns: auto 1fr auto;
    gap: 32px;
    align-items: center;
}

.header-lower i{
    font-size: 4rem;
}

.header-lower p:nth-child(1){
    font-size: 1.7rem;
    margin: 0;
}

.header-lower p:nth-child(2){
    font-size:3rem;
    margin:0;
}

.header-lower button{
    font-size: 2rem;
}

.header-lower .button-div{
    margin-right: 36px;
    display: flex;
    gap: 36px;
}

.sidebar{
    grid-area:sidebar;
    background-color: var(--accent-color);
    font-size:24px;
    padding: 24px;
    color: #fff;

    display:grid;
    grid-template-rows: repeat(3, min-content);
    gap:60px;
    justify-content: start;

}

.sidebar .logo{
    display:flex;
    align-items:center;
    font-size: 30px;
}

.sidebar .nav ul,
.sidebar .other ul{
    list-style: none;

    display:grid;
    gap:32px;
}

.sidebar .nav ul li,
.sidebar .other ul li{
    cursor:pointer;
    position: relative;
    font-size:24px;
    line-height:30px;
    transition: font-size .2s ease-in-out;
}

.sidebar .nav ul li:hover,
.sidebar .other ul li:hover{
    font-size:27px;
}

.sidebar i{
    margin-right: 25px;
}

.main-content{
    grid-area:main-content;
    padding: 36px;
    background-color: var(--medium-color);

    display:grid;
    grid-template-columns: 3fr 1fr;
    gap:24px;
    grid-template-areas:
    "projects announcements"
    "projects trending";
}

.projects{
    grid-area: projects;
    
    display: grid;
    grid-template-rows: auto 1fr;
}

img{
    float:right;
}

.projects .projects-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.projects-grid .project{
    display:grid;
    grid-template-columns: 1fr 1fr;

    padding: 24px;
}

.project .context{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project a{
    align-self: center;
}

.projects p,
.announcements p,
.trending p{
    font-size:2em;
}

.announcements{
    grid-area: announcements;
}

.trending{
    grid-area: trending;
}

.announcements,
.trending{
    display:grid;
    grid-template-rows: auto 1fr;
}

.projects-grid>div,
.announcements>div,
.trending>div{
    background-color: var(--high-color);
    border-radius: 10px;
}

.announcements-grid{
    padding:12px;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
}

.announcement{
    padding:12px;
}

.announcement:nth-child(1),
.announcement:nth-child(2){
    border-bottom:1px solid var(--low-color)
}

.announcement p:nth-child(1){
    font-size:20px;
    font-weight: bold;
}

.announcement p:nth-child(2){
    font-size:16px;
    font-weight:100;
}

.trending-grid{
    display:grid;
    grid-template-rows: repeat(4,1fr);
    padding: 24px;
}

.trend{
    display:flex;
    gap:24px;
}

.account{
    font-size:8px;
}

.account p{
    margin:0;
}

.trending-img{
    width:60px;
    height:60px;
    border-radius:50%;
}